@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

.author-name-content {
  display: inline-block;
  font-family: "Courgette", cursive;
  font-size: 14px;
  font-weight: bolder;
  padding: 0px 7px;
  border-radius: 8px;
  color: rgb(2, 129, 119);
  box-shadow: none;
}

.author-name-prefix {
  font-size: 14px;
  font-family: "Courgette", cursive;
}

.author-sns {
  font-size: 13.5px;
  font-family: "Courgette", cursive;
  width: 100%;
  height: 20px;
  margin-top: 5px;
  a {
    color: rgb(2, 129, 119);
    transition: 0.3s;
    &:not(:last-child) {
      padding-right: 8px;
    }
    &:hover {
      opacity: 0.6;
    }
  }
  &__icon {
    width: 20px;
    height: 15px;
    font-size: 13.5px;
    margin-right: 2px;
  }
}

.author-introduce {
  font-size: 14px;
  margin-top: 5px;
  opacity: 0.7;
  font-family: "Courgette", cursive;
  font-weight: bolder;
}

// prevent icon large when reloading
.author-profile__icon {
  width: 20px;
  height: 16px;
  font-size: 16px;
  margin-right: 2px;
}

.circle {
  width: 88px;
  height: 88px;
  background-color: rgba(250, 250, 250, 0);
  position: absolute;
  border-radius: 50%;
  border: 2px solid #8aa9f9;
}

.avatar {
  position: relative;
  left: 4px;
  top: 4px;
  transition: 0.3s;
  &:hover {
    opacity: 0.6;
  }
}
