@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap");

.inner {
  font-family: "Nanum Gothic", sans-serif;
}

.post-title {
  font-size: 2em;
}
.bio-hr {
  background: linear-gradient(90deg, #3d4f52, #3fa19b, #565f69);
  height: 1.5px;
  margin: 40px 15px;
}
