.switch-toggle {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.icon-unchecked {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
