.category-container {
  display: flex;
  font-family: "Courgette";
  font-size: 15px;
}

.category-open {
  width: 88px;
  margin-right: 5px;
  font-weight: bolder;
}

.category-bar-outer {
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

.category-bar {
  display: flex;
  overflow-x: scroll;

  ::-webkit-scrollbar {
    display: none;
  }
}

.category-open,
.category-bar-outer,
.category-bar {
  border-radius: 10px;
}

.category-open,
.category-bar__item {
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    transition: 0.3s;
  }
}

.category-bar__item {
  animation: fadein 1.5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
