.myname {
  /* padding-bottom: 10px; */
  /* border-bottom: 3px solid rgba(1, 1, 1, 0.18); */
  margin-top: 10px;
  margin-bottom: 14px;
}
.name-hr {
  background: linear-gradient(90deg, #3d4f52, #3fa19b, #565f69);
  height: 1.5px;
}

.myname span {
  font-size: 25px;
}
h2 {
  margin-top: 0px;
  margin-bottom: 15px;
}
.email-1 {
  margin-bottom: 5px;
}
