.video {
  width: 600px;
  height: 360px;
  display: flex;
  margin: auto;
  align-items: center;
  box-shadow: 5px 5px 6px -1px rgba(0, 0, 0, 0.6),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .video {
    width: 360px;
    height: 200px;
  }
}

@media screen and (max-width: 400px) {
  .video {
    width: 320px;
    height: 200px;
  }
}
