.video {
  width: 640px;
  height: 360px;
  display: flex;
  margin: auto;
  align-items: center;
  box-shadow: 5px 5px 6px -1px rgba(0, 0, 0, 0.7),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    width: 355px;
    height: 200px;
  }
  @media screen and (max-width: 400px) {
    width: 320px;
    height: 180px;
  }
}
