.video {
  width: 640px;
  height: 360px;
  display: flex;
  margin: auto;
  align-items: center;
  box-shadow: 5px 5px 6px -1px rgba(0, 0, 0, 0.6),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .video {
    width: 355px;
    height: 200px;
  }
}
@media screen and (max-width: 400px) {
  .video {
    width: 320px;
    height: 180px;
  }
}

.cover_logo {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-transition: width 0.2s, height 0.2;
  transition: width 0.2s, height 0.2s;
}
.cover_logo:hover {
  width: 110px;
  height: 110px;
}

.list_logo {
  width: 25px;
  height: 25px;
  float: right;
  margin-right: 5%;
}
@media screen and (max-width: 768px) {
  .list_logo {
    width: 18px;
    height: 18px;
    margin-right: 8%;
  }
}

/* .cover_christmas {
  display: flex;
  align-items: center;
  justify-content: center;
} */
