@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap&subset=korean");

.index-title {
  color: rgb(2, 129, 119);
  box-shadow: none;
  font-weight: 100;
  font-family: "Do Hyeon", sans-serif;
  font-size: 1.3em;
}
.index-date {
  color: black;
  opacity: 0.5;
}
.index-description {
  color: black;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  line-height: 1.4;
  opacity: 0.65;
}
