@use "../styles/base";

.post-list-item {
  margin-bottom: base.$spacing-12;
  margin-top: base.$spacing-10;

  h2 {
    font-size: base.$fontSize-2;
    font-family: base.$fontDoHyeon;
    font-weight: 300;
    color: base.$color-primary;
    margin-bottom: base.$spacing-2;
    margin-top: base.$spacing-0;
  }

  small {
    font-size: base.$fontSize-0;
    font-family: base.$fontFamily-serif;
    opacity: 0.5;
    color: base.$color-text;
  }

  p {
    font-size: base.$fontSize-05;
    font-family: base.$fontFamily-sans;
    font-weight: 500;
    font-style: italic;
    line-height: 1.4;
    opacity: 0.65;
    color: base.$color-text;
  }

  .post-list-time {
    opacity: 0.3;
    margin-left: 1rem;
  }

  &:hover {
    opacity: 0.7;
    transition: 0.2s;
  }
}

.post-list-item.light {
  h2 {
    color: rgb(2, 129, 119);
  }
  small,
  p {
    color: black;
    opacity: 0.7;
  }
  .post-list-time {
    opacity: 0.3;
  }
}
