.author-sns {
  width: 280px;
  height: 20px;
}
.author-sns__icon {
  width: 20px;
  height: 18px;
  font-size: 18px;
  margin-right: 2px;
}
.author-profile__icon {
  width: 20px;
  height: 18px;
  font-size: 16px;
  margin-right: 2px;
}
