.author-name-content {
  display: inline-block;
  font-size: 14px;
  padding: 2px 6px;
  font-weight: bolder;
  border-radius: 8px;
  border: 2px solid rgba(7, 48, 48, 0.4);
  margin-left: 5px;
  color: rgb(2, 129, 119);
  background-image: linear-gradient(
    to right,
    rgb(192, 206, 204) 0%,
    rgb(212, 228, 228) 51%,
    rgb(172, 189, 189) 100%
  );
  animation: scaleAndRotateSquare infinite;
}
@keyframes scaleAndRotateSquare {
  0% {
    transform: none; /*트렌스포메이션이 없는상태에서,*/
  }
  50% {
    transform: rotate(1turn) scale(0.7, 0.7); /* (1바퀴, 사이즈)로 */
    background-color: white;
  }
  100% {
    transform: none;
  }
}

.author-name-prefix {
  font-size: 14px;
}
.author-sns {
  font-size: 14px;
}
.author-sns a {
  padding-right: 5px;
}
.author-introduce {
  font-size: 14px;
  padding: 5px 0px;
  opacity: 0.7;
}
