@import url("https://fonts.googleapis.com/css?family=Courgette|Patua+One&display=swap");

.author-name-content {
  display: inline-block;
  font-family: "Patua One", cursive;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 0.7px;
  padding: 1px 7px;
  margin-left: 6px;
  border-radius: 8px;
  /* border: 2px solid rgb(2, 71, 66); */
  color: rgb(2, 129, 119);
  box-shadow: none;
  /* background-image: linear-gradient(
    to right,
    rgb(192, 206, 204) 0%,
    rgb(236, 247, 247) 51%,
    rgb(187, 212, 212) 100%
  ); */
  background-color: rgb(218, 226, 225);
  animation: scaleAndRotateSquare infinite 3s;
  -webkit-animation: scaleAndRotateSquare infinite 3s;
}
@keyframes scaleAndRotateSquare {
  0% {
    transform: rotateY(0.9turn);
  }
  50% {
    transform: rotateY(1turn);
  }
  100% {
    transform: rotateY(0.9turn);
  }
}

.author-name-prefix {
  font-size: 14px;
  font-family: "Courgette", cursive;
  font-weight: bolder;
}
.author-sns {
  font-size: 14px;
  font-family: "Courgette", cursive;
  font-weight: bolder;
}
.author-sns a {
  padding-right: 5px;
  color: rgb(2, 129, 119);
}
.author-introduce {
  font-size: 14px;
  padding: 5px 0px;
  opacity: 0.7;
  font-family: "Courgette", cursive;
  font-weight: bolder;
}
