.top {
  position: relative;
  width: 100%;
  height: 120px;
  background: -webkit-linear-gradient(-45deg, #495e61, #4ecdc4, #8360c3);
  background: linear-gradient(-45deg, #495e61, #4ecdc4, #8360c3);
  background-size: 200% 200%;
  animation: Gradient 5s ease infinite;
  -webkit-animation: Gradient 5s ease infinite;

  polygon {
    transition: 0.4s;
  }
}

.line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
    background-position-x: 0px;
    background-position-y: 50%;
  }
  50% {
    background-position: 100% 50%;
    background-position-x: 100%;
    background-position-y: 50%;
  }
  100% {
    background-position: 0 50%;
    background-position-x: 0px;
    background-position-y: 50%;
  }
}
